/*
Predefined colour name

RGB
 -rgb(red,green,blue)
 -color value between 0-255
 -Black : rgb(0,0,0)
 -White : rgb(255,255,255)
 -Red : rgb(255,0,0)
 -Green : rgb(0,255,0)
 -Blue : rgb(0,0,255)

RGBA 
  -rgba(red,green,blue,alpha)
  -alpha is used for transparency(0.0 - 1.0)
  -rgba(255,99,71,0.5)

HEX
  -#rrggbb
  -rr(red) , gg(green) , bb(blue)
  -hexadecimal value between 00 and ff(0-225)
  -Red: #ff0000
  -green: #00ff00
  -Blue: #0000ff
  -Black: #ffffff
  -White: #000000

Hsl
  -hsl(hue ,saturation, lightness)

HSLA
  -hsla(hue ,saturation, lightness ,alpha)
  -hsla(0 ,100% ,50% ,0.5)
*/