body{
    border: 1px solid red;
    height: 600px;
}
#div1{
    background-color:palevioletred;
    height: 10%;
    width: 15%;
    max-width:500px;
    min-width: none;
    max-height: 400px;
    min-height: auto;
}